/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #d1d9f3;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #d99477;
}
a:hover {
  color: #719cff;
}
/* Section Styles */
nav {
  display: flex;
  background: #4f6a8f;
  font-weight: 700;
  margin: auto;
  padding: 10px;
  min-width: 100%;
  min-height: 40px;
  position: fixed;
}

nav .name {
    color:#d99477;
}

nav li {
  display: inline;
  list-style: none;
  text-align: right;
  padding: 0 .5em;
}
nav a {
  transition: all .5s;
}
nav a:hover {
  color: #f0dbb0
}

#main-header {
  text-align: center;
  background: url('images/pdxweird_50.jpg') no-repeat top center;
  background-size: 100% 100%;
  overflow: hidden;
  padding-top: 60px;
}

header #about-header {
  text-align: center;
  background: url('images/boy.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header #experience-header {
  text-align: center;
  background: url('images/workingboy.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}
header .profile-image {
  width: 150px;
  height: 150px;
  margin: 50px 25% 0;
  border-radius: 50%;
  border: 7px dotted #f1d0b1;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(10deg);
  border-color: #4f6a8f;
}
.tag {
  background-color: #d1d9f3;
  color: black;
  padding: 10px;
  border-radius: 10px;
  display: table;
  margin: 10px auto;
  border-style: inset;
  border-width: 5px;  
  
} 
.location {
  background-color: #222;
  color:#efb680;
}
section {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #f1d0b1;
  border: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
section:hover {
  border-color: #4f6a8f;
}

h2 {
  color: #33455d;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #efb680;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #9db0bc;
}

.about {
  text-align: center;
  margin: 0 15%;
  background-color: #f1d0b1;
  border-style: inset;

} 

.pets {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  text-align: justify;
  padding: 1em 2em;
  
}

.pets p {
  background-color:aliceblue;
  border-style: dotted;
  padding: 1em 1em;
  margin: 0 15%;
  background: #f1d0b1;
  border: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.pets>p:hover {
  border-color: #4f6a8f;
}

.pets > img {
  width: 50%;
  height: auto;
  margin: 0 25%;
  border-style: groove;
}

img {
  width: 70%;
  height: auto;
  margin: 0 25% 0 15%;
  border-style: groove;
}

.card > img {
  width: 50%;
  height: auto;
  margin: 0 25%;
  border-style: groove;
  
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }



  nav {
    display: flex;
    background: #4f6a8f;
    font-weight: 700;
    margin: auto;
    padding: 10px;
    min-width: 100%;
    min-height: 40px;
    position: fixed;
  }

  nav .name {
    color:#d99477;
    margin-right: 60em;
}

nav li {
  display: inline;
  list-style: none;
  text-align: right;
  padding: 0 1em;
}

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .about {
    text-align: center;
    margin: 0 35%;
    border: 4px solid #ccc;
    border-radius: 6px;
  } 

  .about:hover {
    border-color: #4f6a8f;
  }

  .pets {
    display:grid;
    grid-template-columns: .5fr .45fr;
    grid-template-rows: .5fr .5fr;
    grid-gap: 1em;
    text-align: justify;
    padding: 1em 2em;
    
  }

  .pets:hover {
    border-color: #4f6a8f;
  }

  .pets p {
    background-color:aliceblue;
    border-style: dotted;
    padding: 1em 1em;
    margin: 0 15%;
    background: #f1d0b1;
    border: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }

  .pets > img {
    width: 50%;
    height: auto;
    margin: 0 25%;
    border: 4px solid #ccc;
    border-radius: 6px;
  }
  .pets > img:hover {
    border-color: #4f6a8f;
    border-width: 5px;
  }
  section > img {
    width: 50%;
    height: auto;
    margin: 0 25%;
    border-style: groove;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

